body {
	background-color: black;
	overflow-x: hidden;
}

.quote {
	width: 80%;
	margin: auto;
	padding-top: 100px; 
	color: white;
	text-align: center;
	overflow-y: hidden;
}
.quote.hide {
	display: none;
}

q {
	font-size: 30px;
	height: 300px;
}

#quoteAuthor {
	font-size: 18px;
}

#refreshLabel {
	margin: auto;
	display: none;
}


#refresh {
	width: 100%;
	padding-top: 100px;
	margin: auto;
	color: white;
	text-align: center;
}

#loading {
	width: 100px;
	height: 100px;
	padding-top: 100px;
	margin: auto;
}

#refreshLabelMobile {
	display: none;
}

@media only screen and (max-width: 600px) {

    #refreshLabelMobile {
    	display: none;
    }

    #loading {
	width: 100px;
	height: 100px;
	padding-top: 50px;
	margin: auto;
}

}

